 <div class='col-sm-6'>

     <div class='form-group'>
         <label>Nova Velocidade</label>
         <input class='form-control' type='text' name='velocidade' placeholder='100M'>
      </div>

      <button type='submit' class='btn btn-success pull-right'>
        Salvar
      </button>

  </div>