{layout 'layouts/default.latte'}

{block content}

  <header class='page-header'>
    <h3>
      Cadastro de Velocidades
    </h3>
  </header>

 <form class='row' method='POST'>

      {include 'partials/cadastrar-velocidade.latte'}

  </form>

{/block}