{layout 'layouts/default.latte'}

{block content}

<section class='clearfix'>

<header class='page-header'>
    <h3>
      Cadastro de equipamentos
    </h3>
  </header>

        <form class='row' method='POST'>


  <div class='col-sm-6'>

      {include 'partials/cadastrar-esquerda.latte'}

    </div>

    <div class='col-sm-6'>

      {include 'partials/cadastrar-direita.latte'}

    </div>



        </form>

{/block}