{layout 'layouts/default.latte'}

{block content}

<section class='clearfix'>

<header class='page-header'>
    <h3>
      Editar Cliente
    </h3>
  </header>

        <form class='row' method='POST'>


  <div class='col-sm-6'>

      {include 'partials/editar-cliente-esquerda.latte'}

    </div>

    <div class='col-sm-6'>

      {include 'partials/editar-cliente-direita.latte'}

    </div>



        </form>

{/block}