{layout 'layouts/default.latte'}

{block content}

  <div class='well' align='center'>
		<img src='/img/brand.png' />
<h3>
  <b>
    Bem Vindo ao sistema de protocolos on-line Trouble Ticket
  </b>
</h3>

</div>

{/block}

