<html>

	<head>

    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>

		<title>
      SIM TV - Trouble Ticket
    </title>

		<link
			n:foreach='$css as $stylesheet'
			rel='stylesheet'
			type='text/css'
			href='{$stylesheet}'>

	</head>

	<body>

		{include 'header.latte'}

		<main class='container'>
      {block content}{/block}
		</main>

    <script 
      n:foreach='$js as $src'
      src='{$src}'></script>
      
	</body>

</html>